/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: BelWeb;
  src: url('assets/fonts/BELWEB.woff2') format('woff2'),
       url('assets/fonts/BELWEB.woff') format('woff'),
       url('assets/fonts/BELWEB.ttf') format('truetype');
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.row {
    margin: 0; /* To overwrite Bootstrap -15 row margin */
}