<section class="background-section">
  <div class="menu flex-row">
    <h4 class="leave" (click)="goHome()">leave</h4>
    <h1>{{username}}</h1>
    <h3>{{type}}</h3>
  </div>
  <div class="list-users flex-row">
    <h4>Online users:</h4>
    <span *ngFor="let user of users">
      <h5 class="user-chip">{{user}}</h5>
    </span>
  </div>

  <div class="flex-row core">
    <div class="buzz-container">
      <button
        mat-fab
        color="warn"
        class="buzzer"
        (click)="buzzClick()"
        [disabled]="isBoooked()"
        *ngIf="type ==='Player'"
      >
        BUZZ
      </button>
      <button
        mat-fab
        color="warn"
        class="buzzer"
        (click)="resetClick()"
        *ngIf="type ==='Host'"
      >
        Reset
      </button>
    </div>
    <div class="list">
      <h1>Booking order</h1>
      <ol *ngFor="let item of bookingList">
        <li class="bookingListItem"><h3 class="bookingListItem">{{item.user}}</h3></li>
      </ol>
    </div>
  </div>
</section>