<button mat-icon-button color="primary" aria-label="Homepage" (click)="goHome()">
  <mat-icon>home</mat-icon>
</button>

<div class="row justify-content-md-center">
  <div class="col col-lg-6 text-center">
    <h1>Buzz</h1>
    <p>{{username}}</p>
  </div>
</div>


<div class="row">
  <div class="col col-lg-6 text-center">
    <div>
      <button mat-fab color="warn" class="buzzer" (click)="sendMessage()">
        BUZZ
      </button>
    </div>
  </div>

  <div class="col col-lg-6 text-center streamArea">
    <h1>Ordine prenotazione</h1>

    <mat-list class="chat-list">
      <mat-list-item *ngFor="let message of messages">
        <h4 mat-line>
          <b>{{message.username}}</b>
        </h4>
        <p mat-line>
          <span> {{message.content}} </span>
        </p>
      </mat-list-item>
    </mat-list>
  </div>

</div>



<div class="row justify-content-md-center">
  <div class="col col-lg-6 text-center">
    <button mat-raised-button color="accent" type="button" (click)="reset()">Reset</button>
  </div>
</div>