.flex-row {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  justify-content: space-between;
}

.background-section {
  background-color: #DDDDDD;
  min-height: 100%;
  width: 100%;
}

.home-icon {
  font-size: 40px;
}

.menu {
  padding: 1rem 1rem 0.5rem;
  background-color: #EFEFEF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex-wrap: wrap-reverse;
}

.leave {
  border: 2px #DDDDDD solid;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: #673ab7;
  color: #FFFFFF;
}

.list-users {
  -webkit-box-pack: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;

  padding: 1rem;
}

.user-chip {
  background-color: #EFEFEF;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  margin: 0 0.5rem 0.5rem;
}

.core {
  -webkit-box-pack: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-top: 2rem;
}

.buzz-container {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 375px;
}

.list {
  display: flex;
  flex-direction: column;
  -webkit-box-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  width: calc(100% - 400px);
  min-width: 310px;
  height: 30rem;
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 15px;
  background-color: #008000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.bookingListItem {
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-size: 3.25rem;
}

.buzzer {
  width: 320px;
  height: 320px;
  font-size: xx-large
}

.streamArea {
  background-color: green;
}