<div class="row justify-content-md-center">
  <div class="col col-lg-6 text-center">
    <h1>Buzz</h1>
    <p>{{username}}</p>
  </div>
</div>


<div class="row">
  <div class="col col-lg-6 text-center">
    <div>
      <button mat-fab color="warn" class="buzzer">
        BUZZ
      </button>
    </div>
  </div>

  <div class="col col-lg-6 text-center">
    <h1>Ordine prenotazione</h1>
    <p>{{username}}</p>
    <p>{{username}}</p>
    <p>{{username}}</p>
  </div>

</div>



<div class="row justify-content-md-center">
  <div class="col col-lg-6 text-center">
    <button mat-raised-button color="accent" type="button" (click)="reset()">Reset</button>
  </div>
</div>